<header class="main-header">
	<div class="grid">
		<div class="logo"><img src="/assets/img/logo.png" alt="Provata Health Logo"></div>
		<nav>
			<a href="//provatahealth.com">Home</a>
			<a href="//provatahealth.com/platform">The Platform</a>
			<a href="//provatahealth.com/results">Results</a>
			<a href="//provatahealth.com/science">The Science</a>
			<a href="//provatahealth.com/testimonials">Testimonials</a>
			<a href="//provatahealth.com/#demo-request" class="cta">Request a Demo</a>
		</nav>
	</div>
</header>
<header class="sub-header">
	<div class="grid">
		<h1 class="site-title">Provata Health Compliance</h1>
		<a class="up-next" href="/#/">&gt; Policy Docs</a>
		<% if current_page.data.search %>
		<div class="search">
			<span class="icon"><img src="/assets/img/icons/search.png" alt="Search Icon"></span>
			<input type="text" class="search" id="input-search" placeholder="Search">
		</div>
		<% end %>
	</div>
</header>
<div class="grid">
	<ul class="search-results"></ul>
</div>